.content_container {
  margin-top: 48px;
}
.logo img {
  margin-top: -8px;
}
.help {
  padding: 14px 10px;
}
.help p {
  vertical-align: middle;
  font-size: 12px;
  color: #9c9b9a;
  line-height: 20px;
  margin: 0;
}
.col-sm-05 {
  width: 1%;
  float: left;
}
/* Button orange */
.btn-orange {
  background-color: #e9752f;
  color: #ffffff;
  font-family: Lato, sans-serif;
}
.search-main {
  margin-top: 44px;
}
/* Search options */
.search-options {
  background-color: #f9f8f6;
  padding: 0 10px;
}
.search-options .row {
  font-size: 13px;
  color: #949393;
  line-height: 20px;
}
.search-options .row > div {
  padding: 22px 16px;
  padding-top: 8px;
  position: relative;
  float: left;
}
.search-options .row > div.section {
  padding-left: 50px;
  position: relative;
  width: 40%;
}
.search-options .row .caption {
  font-weight: 700;
  color: #636363;
  width: 100%;
  margin: 0;
  padding-bottom: 0;
  padding-top: 22px;
}
.search-options .row .icon {
  position: absolute;
  left: 20px;
  top: 18px;
}
.search-options strong {
  font-weight: bold;
}
.search-options .splitter {
  position: relative;
  height: 50px;
  width: 10px;
}
.search-options .splitter:after {
  background-color: #d3d3d3;
  width: 1px;
  padding: 0;
  top: 20%;
  bottom: 0;
  left: 50%;
  content: " ";
  position: absolute;
}
.search-options .btn_container .btn {
  min-width: 94px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .help {
    display: none;
  }
  .search-options .row {
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .search-options .row > div {
    padding-left: 50px;
    padding-bottom: 0;
    width: 100%;
  }
  .search-options .row > div.section {
    width: 100%;
  }
  .search-options .splitter {
    height: 20px;
    margin-top: 25px;
    width: 100%;
  }
  .search-options .splitter:after {
    left: 20px;
    right: 20px;
    height: 1px;
    top: 0;
    width: auto;
  }
}
.a-link {
  font-size: 16px;
  color: #e9752f;
  font-weight: bold;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.a-link .glyphicon {
  font-size: 14px;
  font-weight: lighter;
}
.a-link:hover {
  cursor: pointer;
  opacity: 0.7;
  color: #e9752f;
}
.modal-backdrop {
  background: rgba(255, 255, 255, 0.7);
}
/* Search filter */
.search-filter .search-filter-section {
  background-color: #f9f8f6;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  padding: 18px;
  margin-bottom: 20px;
}
.search-filter .search-filter-section .hdr a {
  color: #636363;
}
.search-filter .search-filter-section .toggle {
  float: right;
  cursor: pointer;
  color: #636363;
  position: relative;
  top: 1px;
}
.search-filter .search-filter-section .toggle:hover {
  opacity: 0.7;
}
.search-filter .search-filter-section .body {
  color: #414545;
  font-size: 12px;
  margin-top: 10px;
}
.search-filter .search-filter-section .body .checkbox {
  width: 100%;
  margin: 6px 0;
}
.search-filter .search-filter-section .body input[type="text"] {
  width: 55px;
  height: 35px;
  display: inline-block;
}
.search-filter .search-filter-section .body .cost_from {
  margin-right: 5px;
}
.search-filter .search-filter-section .ftr {
  margin-top: 10px;
}
.search-filter .search-filter-section .ftr .btn {
  font-size: 12px;
  font-weight: bolder;
}
.search-filter .collapsed .toggle .glyphicon:before {
  content: "\e113";
}
@media (max-width: 767px) {
  .search-filter > .search-filter-section {
    display: none;
  }
  .search-filter > .search-filter-section .body label {
    width: 100%;
  }
  .search-filter > .search-filter-section .body input[type="text"] {
    width: 100%;
    height: 25px;
    float: left;
  }
}
/* Search result */
.search-result {
  font-size: 14px;
  color: #636363;
}
.search-result .control {
  float: left;
  width: 100%;
}
.search-result .save-search {
  color: #e9752f;
}
.search-result .a-sort {
  color: #6a747e;
  font-size: 14px;
  position: relative;
}
.search-result .a-sort strong {
  font-weight: bold;
}
.search-result .a-sort strong:hover {
  color: #e9752f;
}
.search-result .a-sort.collapsed .glyphicon:before {
  content: "\e113";
}
.search-result .sortBy_container {
  position: relative;
  z-index: 99999;
}
.search-result .sortBy {
  position: absolute;
  background-color: #f9f8f6;
  right: 0;
  left: 40px;
  top: 27px;
  padding-left: 10px;
}
.search-result .sortBy li {
  width: 100%;
  height: 28px;
}
.search-result .sortBy li a {
  color: #949393;
}
.search-result .sortBy li a:hover {
  color: #e9752f;
}
.search-result hr {
  float: left;
  clear: both;
  width: 100%;
  height: 2px;
  background-color: #c0bfbd;
  margin: 0;
}
.search-result .search-tags {
  border: 0 none;
}
.search-result .search-tags .tag {
  background-color: #f9f8f6;
  float: left;
  border-radius: 6px;
  color: #636363;
  font-size: 14px;
}
.search-result .search-tags .tag .tagsinput-remove-link:before {
  color: #000;
}
.search-result .search-tags .tag.tag-reset {
  color: #e9752f;
}
.result-car {
  background-color: #f9f8f6;
  position: relative;
  padding: 20px 18px;
  padding-bottom: 0;
  color: #636363;
  margin-bottom: 20px;
  float: left;
  width: 100%;
}
.result-car .a-location.collapsed .glyphicon:before {
  content: "\e113";
}
.result-car .section {
  float: left;
  clear: left;
  margin-top: 20px;
}
.result-car .section label {
  color: #636363;
}
.result-car .section .chk-loc {
  color: #414545;
  font-weight: bold;
}
.result-car .section .map {
  margin-top: 20px;
}
.result-car .location-picker {
  padding: 10px 0;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  width: 100%;
}
.result-car .location-picker .content {
  width: 100%;
}
.result-car .location-picker.in {
  display: inline-block;
}
.result-car .location-picker .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  z-index: 9;
  color: #959898;
}
.result-car .location-picker .close .glyphicon {
  position: relative;
  top: 2px;
}
.result-car .content {
  width: 348px;
  margin-left: 10px;
}
.result-car .content .way {
  font-size: 12px;
  float: left;
}
.result-car .content .way > div {
  float: left;
  line-height: 16px;
}
.result-car .content .way .icon a {
  color: #636363;
  font-size: 18px;
  position: relative;
  top: 8px;
  margin-right: 4px;
}
.result-car .content .way .icon a:hover {
  color: #e9752f;
}
.result-car .content .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.result-car .content .a-location {
  color: #636363;
  font-weight: bold;
}
.result-car .content .a-location strong {
  color: #e9752f;
}
.result-car .body {
  float: left;
}
.result-car .body > div {
  float: left;
}
.result-car .body .left {
  margin-top: 15px;
  margin-left: -10px;
}
.result-car .body .rating {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 10px;
}
.result-car .body .rating > * {
  float: left;
  margin: 0;
  margin-right: 10px;
}
.result-car .body .rating .reviews {
  color: #e9752f;
  margin-right: 0;
  line-height: 16px;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
}
.result-car .body .rating .reviews:hover {
  opacity: 0.7;
}
.result-car .body .right {
  float: right;
  width: 132px;
}
.result-car .body .right .price {
  font-size: 14px;
  font-weight: lighter;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}
.result-car .body .right .price strike {
  position: absolute;
  top: -16px;
  left: 0;
  right: 0;
  text-align: center;
}
.result-car .body .right .price strong {
  font-size: 24px;
  font-weight: bold;
}
.result-car .body .total {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
}
.result-car .body .total .text {
  font-size: 12px;
}
.result-car .ftr {
  width: 100%;
  float: left;
  clear: both;
}
.result-car .ftr > div {
  display: inline-block;
}
.result-car .ftr .btn_container {
  width: 120px;
  text-align: right;
  position: relative;
  height: 30px;
}
.result-car .ftr .btn_container .btn {
  font-weight: bold;
  position: absolute;
  top: 4px;
  padding: 6px 0px;
  min-width: 74px;
  left: 40px;
}
.result-car .ftr .compare_container {
  width: 150px;
  text-align: center;
}
.result-car .ftr .included {
  font-size: 12px;
  font-weight: lighter;
  width: 340px;
}
.result-car .ftr .included > * {
  margin-left: 10px;
}
.result-car .ftr .included > *:first-child {
  margin-left: 0;
}
.result-car .ftr .included .fui-check {
  color: #e9752f;
}
.result-car .submit .btn {
  margin-top: 20px;
  margin-bottom: 10px;
}
.tagsinput {
  overflow-y: visible;
}
.search-offer {
  background: url("../images/offer.png") no-repeat;
  height: 28px;
  position: absolute;
  left: -4px;
  top: 11px;
}
.search-offer.offer-recommended {
  width: 104px;
}
.search-offer.offer-lowest {
  width: 92px;
  background-position: 0 -33px;
}
.search-offer.offer-hot {
  width: 84px;
  background-position: 0 -66px;
}
@media (max-width: 420px) {
  .fui-location {
    position: relative;
    top: -12px;
  }
  .result-car .included > span {
    float: left;
    display: inline-block;
    width: 100%;
    margin: 0!important;
  }
  .result-car .included > span > span {
    margin-right: 5px;
  }
}
@media (max-width: 767px) {
  .result-car {
    width: 100%;
  }
  .result-car .map {
    text-align: center;
  }
  .result-car .submit {
    float: left;
    clear: both;
  }
  .result-car .location-picker .submit .btn {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .result-car .body {
    width: 100%;
  }
  .result-car .body > div {
    width: 100%;
    clear: both;
    float: left;
    margin-bottom: 20px;
    margin-left: 0;
  }
  .result-car .body .rating {
    margin-top: 20px;
  }
  .result-car .body .left {
    width: 100%;
  }
  .result-car .body .left img {
    width: 100%;
    height: 100%;
  }
  .result-car .body .right {
    width: 100%;
  }
  .result-car .body .right .price strike {
    text-align: left!important;
  }
  .result-car .body .right .price,
  .result-car .body .right .total {
    text-align: left;
    position: relative;
    top: 8px;
  }
  .result-car .ftr .included,
  .result-car .ftr .compare_container,
  .result-car .ftr .btn_container {
    width: 100%;
    text-align: left;
  }
  .result-car .ftr .btn_container {
    margin-top: 20px;
  }
  .result-car .ftr .btn_container .btn {
    left: 0;
  }
  .search-offer .offer-recommended,
  .search-offer .offer-lowest,
  .search-offer .offer-hot {
    width: 100%;
    float: left;
    clear: both;
  }
}
/*Pager*/
.pagination > * {
  float: left;
}
.pagination ul {
  text-align: center;
}
.pagination ul li:first-child a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination ul li:last-child a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination ul li a {
  background-color: #b4b3b3;
  padding: 13px 18px;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  border-radius: 0;
}
.pagination ul li a.current {
  background-color: #e9752f;
}
.pagination ul li a:hover {
  background-color: #e9752f;
}
.pagination a {
  background-color: #b4b3b3;
  padding: 13px 24px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
}
.pagination a:hover {
  background-color: #e9752f;
}
.pagination a.prev {
  margin-right: 11px;
}
.pagination a.next {
  margin-left: 11px;
}
@media (max-width: 767px) {
  .pagination a {
    margin: 0!important;
    width: 100%;
    float: left;
    clear: both;
    text-align: center;
  }
  .pagination ul {
    width: 100%;
  }
}
/* Compare search */
.search-compare {
  float: left;
  width: 100%;
  clear: both;
  margin-bottom: 40px;
  display: none;
}
.search-compare .lists {
  background-color: #f8f4e9;
  float: left;
  min-width: 100%;
}
.search-compare .item {
  width: 168px;
  float: left;
  position: relative;
  min-height: 100px;
  padding: 10px 16px;
  text-align: left;
  color: #636363;
  font-size: 12px;
}
.search-compare .item .delete {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.search-compare .item .delete:hover {
  opacity: 0.7;
}
.search-compare .item:last-child:before {
  display: none;
}
.search-compare .item:before {
  background-color: #d3d3d3;
  width: 1px;
  top: 10px;
  bottom: 10px;
  right: 0;
  content: " ";
  display: block;
  position: absolute;
}
.search-compare .item .img {
  text-align: center;
}
.search-compare .item .title {
  margin-top: 4px;
  line-height: 14px;
}
.search-compare .item .price {
  font-weight: lighter;
}
.search-compare .item .price strong {
  color: #e87630;
  font-weight: bold;
}
.search-compare .ftr .btn {
  margin-top: 5px;
}
.compare-clone:before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  content: ' ';
  z-index: -1;
}
.modal-reviews {
  color: #636363;
}
.modal-reviews .close {
  font-size: 12px;
  color: #959898;
  position: absolute;
  top: 10px;
  right: -10px;
  width: 100px;
  opacity: 1;
}
.modal-reviews .close:hover {
  opacity: 0.7;
}
.modal-reviews .hdr .img-container {
  margin-right: 10px;
}
.modal-reviews .hdr .title {
  font-size: 18px;
  font-weight: bold;
}
.modal-reviews .hdr .recommendations {
  margin: 0;
}
.modal-reviews .hdr .reviews {
  font-size: 14px;
  font-weight: bold;
  color: #e8752f;
}
.modal-reviews .hdr .info .stars {
  position: relative;
  top: 6px;
  margin-right: 10px;
}
.modal-reviews .form {
  margin-top: 10px;
}
.reviews-list .item {
  color: #636363;
}
.reviews-list .item table * {
  border: 0 none;
}
.reviews-list .item table * .avatar {
  width: 100px;
  padding-left: 0;
  padding-right: 0;
}
.reviews-list .item table * .hdr {
  margin-bottom: 10px;
}
.reviews-list .item table * .hdr .title {
  font-weight: bold;
  font-size: 14px;
}
.reviews-list .item table * .hdr .description {
  font-size: 12px;
}
.reviews-list .item table * .body {
  margin-top: 10px;
}
.reviews-list .item table * .body p {
  font-size: 14px;
  line-height: 14px;
}
.reviews-list .item table * .body a {
  color: #ea7530;
}
/* Compare page */
.compare-back {
  margin: 20px 0;
}
.compare-sticky {
  position: fixed;
  background-color: #efeeed;
  padding: 40px 20px;
  width: 910px;
  left: 50%;
  margin-left: -455px;
  top: 0;
  z-index: 999;
  display: none;
  padding-bottom: 0;
  height: 310px;
}
.compare-sticky .labels {
  float: left;
  width: 206px;
}
.compare-sticky .labels:before {
  border-right: 1px solid #d3d3d3;
  content: " ";
  display: block;
  position: absolute;
  left: 230px;
  top: 40px;
  bottom: 0;
  z-index: 2;
}
.compare-sticky .labels .label {
  float: left;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  color: #2c3e50;
  text-align: left;
  height: 50px;
}
.compare-sticky .labels .label.type {
  height: 130px;
  position: relative;
  top: 20px;
}
.compare-sticky .labels .label.select {
  width: 100%;
  overflow: hidden;
  text-indent: -999px;
}
.compare-sticky .list {
  position: relative;
}
.compare-sticky .list .item {
  float: left;
  width: 164px;
  line-height: 14px;
  border-right: 1px solid #d3d3d3;
  font-size: 13px;
}
.compare-sticky .list .item .btn {
  background-color: #afafae;
}
.compare-sticky .list .item .btn:hover {
  background-color: #e9752f;
}
.compare-sticky .list .item:last-child {
  border-right: 0 none;
}
.compare-sticky .list .item .img {
  margin-left: -20px;
}
.compare-sticky .list .item .img .title {
  margin-left: 20px;
}
.compare-sticky .list .item .brand {
  text-align: center;
}
.compare-sticky .list .item > div {
  height: 50px;
  padding: 0 30px;
}
.compare-sticky .list .item > div:first-child {
  height: 130px;
}
.compare-sticky .list .recommendations {
  margin: 0;
}
.compare-wall {
  background-color: #efeeed;
  padding: 40px 20px;
  float: left;
  width: 100%;
  position: relative;
  min-width: 900px;
}
.compare-wall .labels {
  float: left;
  width: 206px;
}
.compare-wall .labels:before {
  border-right: 1px solid #d3d3d3;
  content: " ";
  display: block;
  position: absolute;
  left: 230px;
  top: 40px;
  bottom: 40px;
  z-index: 2;
}
.compare-wall .labels .label {
  float: left;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  color: #2c3e50;
  text-align: left;
  height: 50px;
}
.compare-wall .labels .label.type {
  height: 130px;
  position: relative;
  top: 20px;
}
.compare-wall .labels .label.select {
  width: 100%;
  overflow: hidden;
  text-indent: -999px;
}
.compare-wall .list {
  position: relative;
}
.compare-wall .list .item {
  float: left;
  width: 164px;
  line-height: 14px;
  border-right: 1px solid #d3d3d3;
  font-size: 13px;
}
.compare-wall .list .item .btn {
  background-color: #afafae;
}
.compare-wall .list .item .btn:hover {
  background-color: #e9752f;
}
.compare-wall .list .item:last-child {
  border-right: 0 none;
}
.compare-wall .list .item .img {
  margin-left: -20px;
}
.compare-wall .list .item .img .title {
  margin-left: 20px;
}
.compare-wall .list .item .brand {
  text-align: center;
}
.compare-wall .list .item > div {
  height: 50px;
  padding: 0 30px;
}
.compare-wall .list .item > div:first-child {
  height: 130px;
}
.compare-wall .list .recommendations {
  margin: 0;
}
/* Advanced search */
.modal-advance .close {
  font-size: 12px;
  color: #959898;
  position: absolute;
  top: 10px;
  right: -10px;
  width: 100px;
  opacity: 1;
}
.modal-advance .close:hover {
  opacity: 0.7;
}
.modal-advance .modal-dialog {
  width: 940px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.7);
  z-index: 9;
  position: relative;
}
.modal-advance .modal-dialog input {
  text-align: center;
}
.modal-advance .modal-dialog label {
  float: left;
}
.modal-advance .modal-dialog .submit {
  float: right;
  text-align: center;
  padding-right: 10px;
  width: 200px;
}
.modal-advance .modal-dialog .submit a {
  display: block;
  color: #e9752f;
  width: 100%;
  float: left;
  font-size: 14px;
}
.modal-advance .modal-dialog .submit a:hover {
  opacity: 0.7;
}
.modal-advance .modal-dialog .submit .btn {
  padding-left: 30px;
  padding-right: 30px;
}
.modal-advance .search-filter-section {
  background: none;
}
.modal-advance .rentalAgency .mCustomScrollbar {
  max-height: 300px;
}
@media (max-width: 767px) {
  .modal-advance .modal-dialog {
    width: 80%;
    left: 10%;
    padding: 0;
    margin: 0;
  }
}
/* subscribe */
.subscribe-col .btn {
  width: 100%;
}
/* Scroll */
.mCustomScrollbar {
  max-height: 200px;
  position: relative;
}
.mCustomScrollbar.mCustomScrollBar-location {
  max-height: 600px;
}
.mCustomScrollbar.mCustomScrollbar-reviews {
  max-height: 300px;
}
.mCustomScrollbar_compare {
  max-width: 800px;
  position: relative;
}
